@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
p {
  animation: opAni 0.5s ease-in;
}

@keyframes opAni {
  0% {
    opacity: 0;
  }
}
100% {
  opacity: 1;
}
/* tile game css */
.front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}
.back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
